$font_titles: 'Bebas Neue', sans-serif;
$font_texts: 'Oswald', sans-serif;

// Colores
$black: #0A0A0A;
$white: #F5F5F5;
$yellow: #e8f536;
$grey: #B0BEC5;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;